# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# package dependecies
node_modules
jspm-packages
.cache

# serverless directories
.serverless

# environment variables
config.json
