/* -----  GENERALS STYLES ----- */
@import url(https://fonts.googleapis.com/css?family=Roboto:500);
@import url(https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Monoton&display=swap);
* {
  padding: 0px auto;
  margin: 0px auto;
}
body {
  background-color: #fff;
  background-image: url("img/background.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 0px;
  scroll-behavior: smooth;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  /* background-size: cover; */
}

/* -----  Main-Wrap COMPONENT ----- */
.main-wrap {
  display: inline-flex;
  flex-direction: column;
  flex-basis: 100px;
  width: 80%;
  padding-top: 50px;
  padding-bottom: 100px;
}

.main-wrap > h1 {
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: 10px;
  font-family: "Monoton";
  font-size: 40px;
  margin-bottom: 40px;
  color: #a1ef8b;
}

.App {
  text-align: center;
  width: 100%;
  color: #fff;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

.display-none {
  display: none;
}

.showSuggestions {
  display: block;
}

/* -----  CitySearch COMPONENT ----- */
.CitySearch {
  display: flex;
  flex-direction: column;
  flex-basis: 90px;
  /*margin-top: 23px;*/
}

.CitySearch > .city {
  margin-top: 7px;
  width: 250px;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

.suggestions {
  width: 250px;
  z-index: 2;
  align-self: center;
  margin: 0;
  top: 218px;
  color: black;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions:first-child {
  height: 100px;
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

/* -----  Alert COMPONENT ----- */
.Alert {
  display: inline-flex;
  position: static;
  top: 20px;
  font-weight: bold;
  letter-spacing: 0.7px;
  align-self: center;
  text-align: center;
}

/* -----  NumberOfEvents COMPONENT ----- */
.NumberOfEvents {
  display: flex;
  flex-direction: column;
  flex-basis: 100px;
  margin-bottom: 23px;
}

.NumberOfEvents > .number-input {
  margin-top: 7px;
  width: 100px;
  text-align: center;
}

/* -----  Charts COMPONENT ----- */
.data-chart {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin-bottom: 2%;
}

.chart-wrap {
  display: flex;
  /*flex-flow: row wrap;*/
  width: 100%;
  flex-wrap: wrap;
}

.recharts-responsive-container {
  width: 100%;
}

.chart-pieChart {
  max-width: 49%;
}

.chart-scatterChart {
  width: 49%;
}

.recharts-surface {
  width: inherit;
}

/* -----  EventList COMPONENT ----- */
.EventList {
  width: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* -----  Event COMPONENT ----- */
.event {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  min-width: 47%;
  padding: 10px 10px;
  margin: 10px;
  text-align: center;
  border: 1px solid #a1ef8b;
  border-radius: 8px;
  position: relative;
  background-color: rgba(33, 31, 73, 0.9);
}

.event-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

.summary {
  margin-bottom: 15px;
  color: #a1ef8b;
}

.event-container > .time {
  margin-bottom: 7px;
}

.location-container {
  display: inline-flex;
}

.summary-event {
  margin-right: 5px;
}

.event-details {
  margin-top: 15px;
  display: flex;
  flex-flow: column wrap;
}

.event-details > .link-google {
  margin-top: 7px;
  margin-bottom: 7px;
  color: #f2dfd7;
  width: auto;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 3px 4px 0 rgba(56, 40, 40, 0.3);
}

.link-google:hover {
  box-shadow: 0 0 6px #a1ef8b;
}

.link-google:active {
  background: #1669f2;
}

.expand-btn {
  display: flex;
  justify-content: center;
  min-width: 200px;
  padding: 10px;
  margin: 23px 0px 0px 0px;
  border-radius: 6px;
  font-weight: bold;
  letter-spacing: 0.7px;
  border-color: #a1ef8b;
  background-color: #d3f6db;
  outline: none;
  cursor: pointer;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going,
.visibility {
  font-style: italic;
}

.description {
  overflow-x: hidden;
}

.numberOfEvents {
  width: 200px;
  margin: 20px auto;
  text-align: center;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
}
.recharts-surface {
  overflow: visible;
}

.login-button {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
  min-width: 10rem;
  margin: 1rem;
}

.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: -8px;
  width: 18px;
  height: 18px;
}
.btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

/* -----  RESPONSIVE ----- */

@media only screen and (min-width: 981px) {
  .data-vis-wrapper {
    flex-direction: row;
  }
  .data-vis-wrapper .recharts-responsive-container {
    min-width: auto;
    margin: 0 auto;
  }
}

@media (max-width: 981px) {
  .chart-wrap {
    flex-wrap: nowrap;
  }
}

@media (max-width: 800px) {
  .chart-wrap {
    flex-direction: column;
  }

  .chart-scatterChart {
    margin-left: 10%;
  }

  .recharts-wrapper {
    width: 100%;
  }
  .event {
    min-width: 100%;
  }
}

@media (max-width: 600px) {
  .chart-scatterChart {
    margin-left: 3%;
  }
}

@media (max-width: 550px) {
  .chart-scatterChart {
    margin-left: -6%;
  }
}

@media (max-width: 460px) {
  .chart-scatterChart {
    margin-left: -15%;
  }
}

@media (max-width: 410px) {
  .recharts-wrapper {
    width: 345px;
  }

  .chart-scatterChart {
    margin-left: -20%;
  }
}

@media (max-width: 380px) {
  .chart-scatterChart {
    margin-left: -20%;
    width: 90%;
  }

  .recharts-wrapper {
    width: 350px;
  }
}
